<div class="row">
    <div class="card card-signup" style="box-shadow: none;">
        <div class="header text-center" style="max-height: 80px; background: linear-gradient(60deg, #2979ff, #2962ff)">
            <h4 style="color: white;"><i class="material-icons" style="vertical-align: middle; font-size: 20px;">beenhere</i> {{ post.city }}, {{ post.country }} <span style="font-size: 15px;">({{ post.createdAt|date('d/m/Y') }})</span></h4>
        </div>
    </div>
    <div class="row" style="margin-top: 20px;">
        <div class="col-md-12">
            <div class="col-md-6 text-justify">
                {{ post.description|raw }}
            </div>
            <div class="col-md-6">
                <div class="demo-gallery">
                    <ul id="pictures"  class="list-unstyled list-inline">
                        {% for picture in post.pictures %}
                            <li data-src="/{{ picture.webPath() }}">
                                <a href="">
                                    <img class="" src="{{ picture.webPath() | imagine_filter('xs') }}"/>
                                    <div class="demo-gallery-poster">
                                        <img src="https://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
                                    </div>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
